.row {
    margin: 5px;
}
label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
fieldset{
    margin: 15px 0;
    border: 1px solid red;
    border-radius: 10px;
}