@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap:break-word ;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: #000000;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fff;
}
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20;

}
section .module:last-child {
    margin-bottom: 0; n

}