@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(247, 247, 247);
}

#top-page{
    margin: 40px;
    padding: 10px;
    background-color: #000009;
    border: 1px solid #000000;
    border-radius: 10px;
}
.button{
   margin: 0 10px;
   margin-left: 45px;
   padding: 20px;
   width: 60;
   height: 30px;
   border-radius: 10px;
   text-align: center;
    
}
.button-container{
    margin-top: 20px;
}
