@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #eadfdf;
}
.top-page {
    margin: auto;
    padding: 10px;
}
.text-page + h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background:-webkit-linear-gradient(#33a8dB, #1472b7) ;
    background-clip: text;
}